In [1]:
import numpy as np
import pandas as pd
import requests

In [2]:
url_link = 'https://finance.yahoo.com/quote/DOT-USD/history?p=DOT-USD'
r = requests.get(url_link,headers ={'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'})
read_html_pandas_data = pd.read_html(r.text)[0]
df= pd.DataFrame(read_html_pandas_data)
df.head()

           Date    Open    High     Low  Close* Adj Close**     Volume
0  Sep 17, 2022  6.9563  7.0416  6.9397  6.9929      6.9929  253697056
1  Sep 16, 2022  6.9269  6.9690  6.7376  6.8968      6.8968  303068671
2  Sep 15, 2022  7.2034  7.2192  6.8939  6.9265      6.9265  372919866
3  Sep 14, 2022  7.0750  7.2833  7.0508  7.2032      7.2032  318044357
4  Sep 13, 2022  7.6620  7.9188  7.0508  7.1340      7.1340  478905956

In [3]:
df.tail()

,Date,Open,High,Low,Close*,Adj Close**,Volume
96,"Jun 13, 2022",7.4418,7.4450,6.4277,7.0102,7.0102,1019556301
97,"Jun 12, 2022",8.0162,8.0961,7.4500,7.4500,7.4500,540721211
98,"Jun 11, 2022",8.6534,8.8372,7.9570,8.0162,8.0162,453457201
99,"Jun 10, 2022",9.2327,9.3480,8.6297,8.6528,8.6528,463759922
100,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

In [4]:
df.drop(100,axis=0,inplace =True)

In [5]:
df['Date'] = pd.to_datetime(df['Date'])

In [6]:
df.to_csv('dotcsv.csv',index =False)

In [7]:
df.to_excel('dotexcel.xlsx',index =False)

In [9]:
with pd.ExcelWriter('dottranc.xlsx',engine= 'xlsxwriter') as writer:
    df[(df['Date']>=pd.Timestamp(2022,6,1))&(df['Date']<=pd.Timestamp(2022,6,30))].to_excel(writer,sheet_name='JUNEREC',index=False,engine = 'xlsxwriter')
    df[(df['Date']>=pd.Timestamp(2022,7,1))&(df['Date']<=pd.Timestamp(2022,7,31))].to_excel(writer,sheet_name='JULYREC',index=False,engine = 'xlsxwriter')
    df[(df['Date']>=pd.Timestamp(2022,8,1))&(df['Date']<=pd.Timestamp(2022,8,31))].to_excel(writer,sheet_name='AUGREC',index=False,engine = 'xlsxwriter')

In [10]:
gdp = pd.read_csv('RealGDP17092022.csv')
gdp.head()

,tyear,Period,Agriculture,CropProduction,Livestock,Forestry,Fishing,Industry,MiningAndQuarrying,CrudePetroleumAndNaturalGas,...,RealEstate,ProfessionalScientificAndTechnicalServices,AdministrativeAndSupportServicesBusinessServices,PublicAdministration,Education,HumanHealthAndSocialServices,OtherServices,GDP at 2010 Constant Basic Prices,NetTaxesOnProducts,GDP at 2010 Constant Market Prices
1981,Annual,2364.37,1854.76,341.41,77.90,90.30,11753.40,5044.55,4977.42,21.33,...,421.38,3.23,807.08,242.56,113.46,133.53,19549.56,198.97,19748.53,NaN
1982,Annual,2425.96,1897.08,361.12,73.91,93.86,10189.10,4507.93,4453.09,10.29,...,423.67,3.25,825.92,248.22,117.88,134.60,18219.27,185.70,18404.96,NaN
1983,Annual,2409.08,1842.70,393.13,75.28,97.96,8255.76,4096.99,4052.98,9.73,...,481.17,3.69,844.77,253.88,118.27,126.60,16228.81,165.58,16394.39,NaN
1984,Annual,2303.51,1759.12,399.69,76.69,68.01,8392.25,4602.27,4559.20,14.03,...,518.36,3.98,863.61,259.55,117.82,103.73,16048.31,163.18,16211.49,NaN
1985,Annual,2731.06,2180.91,428.10,78.08,43.97,8768.30,4962.81,4918.27,26.19,...,602.46,4.62,882.46,265.21,120.43,99.41,16997.52,172.56,17170.08,NaN

In [11]:
gdp.reset_index(inplace=True)

In [12]:
gdp.head()

,index,tyear,Period,Agriculture,CropProduction,Livestock,Forestry,Fishing,Industry,MiningAndQuarrying,...,RealEstate,ProfessionalScientificAndTechnicalServices,AdministrativeAndSupportServicesBusinessServices,PublicAdministration,Education,HumanHealthAndSocialServices,OtherServices,GDP at 2010 Constant Basic Prices,NetTaxesOnProducts,GDP at 2010 Constant Market Prices
0,1981,Annual,2364.37,1854.76,341.41,77.90,90.30,11753.40,5044.55,4977.42,...,421.38,3.23,807.08,242.56,113.46,133.53,19549.56,198.97,19748.53,NaN
1,1982,Annual,2425.96,1897.08,361.12,73.91,93.86,10189.10,4507.93,4453.09,...,423.67,3.25,825.92,248.22,117.88,134.60,18219.27,185.70,18404.96,NaN
2,1983,Annual,2409.08,1842.70,393.13,75.28,97.96,8255.76,4096.99,4052.98,...,481.17,3.69,844.77,253.88,118.27,126.60,16228.81,165.58,16394.39,NaN
3,1984,Annual,2303.51,1759.12,399.69,76.69,68.01,8392.25,4602.27,4559.20,...,518.36,3.98,863.61,259.55,117.82,103.73,16048.31,163.18,16211.49,NaN
4,1985,Annual,2731.06,2180.91,428.10,78.08,43.97,8768.30,4962.81,4918.27,...,602.46,4.62,882.46,265.21,120.43,99.41,16997.52,172.56,17170.08,NaN

In [13]:
gdp.columns

Index(['index', 'tyear', 'Period', 'Agriculture', 'CropProduction',
       'Livestock', 'Forestry', 'Fishing', 'Industry', 'MiningAndQuarrying',
       'CrudePetroleumAndNaturalGas', 'CoalMining', 'MetalOres',
       'QuarryingAndOtherMinerals', 'Manufacturing', 'OilRefining', 'Cement',
       'FoodBeverageAndTobacco', 'TextileApparelAndFootwear',
       'WoodAndWoodProducts', 'PulpPaperAndPaperProducts',
       'ChemicalAndPharmaceuticalProducts', 'NonMetallicProducts',
       'PlasticAndRubberProducts', 'ElectricalAndElectronics',
       'BasicMetalIronAndSteel', 'MotorVehiclesAndAssembly',
       'OtherManufacturing', 'ElectricityGasSteamAndAirCon',
       'WaterSupplySewageWaste', 'Construction', 'Services', 'Trade',
       'AccommodationAndFoodServices', 'TransportationAndStorage',
       'RoadTransport', 'RailTransportAndPipelines', 'WaterTransport',
       'AirTransport', 'TransportServices', 'PostAndCourierServices',
       'InformationAndCommunication', 'Publishing',
       'MotionPicturesSoundRecordingAndMusicProduction', 'Broadcasting',
       'ArtsEntertainmentAndRecreation', 'FinanceAndInsurance',
       'FinancialInstitutions', 'Insurance', 'RealEstate',
       'ProfessionalScientificAndTechnicalServices',
       'AdministrativeAndSupportServicesBusinessServices',
       'PublicAdministration', 'Education', 'HumanHealthAndSocialServices',
       'OtherServices', 'GDP at 2010 Constant Basic Prices',
       'NetTaxesOnProducts', 'GDP at 2010 Constant Market Prices'],
      dtype='object')

In [15]:
gdp.rename({'index':'Year', 'tyear':'Period', 'Period':'Agriculture', 'Agriculture':'CropProduction', 'CropProduction':'Livestock',
       'Livestock':'Forestry', 'Forestry':'Fishing', 'Fishing':'Industry', 'Industry':'MininingQua', 'MiningAndQuarrying':'CrudeOil',
       'CrudePetroleumAndNaturalGas':'CoalMining', 'CoalMining':'MetalOres', 'MetalOres':'Minerals',
       'QuarryingAndOtherMinerals':'Manufacturing','Manufacturing':'OilRefining', 'OilRefining':'Cement', 'Cement':'FoodBev',
       'FoodBeverageAndTobacco':'Textile', 'TextileApparelAndFootwear':'WoodProduct',
       'WoodAndWoodProducts':'PaperProduct', 'PulpPaperAndPaperProducts':'PhamaProduct',
       'ChemicalAndPharmaceuticalProducts':'NonMetalPrd', 'NonMetallicProducts':'PlasticProduct',
       'PlasticAndRubberProducts':'EEE', 'ElectricalAndElectronics':'IronSteel',
       'BasicMetalIronAndSteel':'VehiclesASS', 'MotorVehiclesAndAssembly':'OtherManu',
       'OtherManufacturing':'Gasstem', 'ElectricityGasSteamAndAirCon':'Watersupply',
       'WaterSupplySewageWaste':'Construction', 'Construction':'Services', 'Services':'Trade', 'Trade':'Accommodation',
       'AccommodationAndFoodServices':'Transport', 'TransportationAndStorage':'RoadTransport',
       'RoadTransport':'Rail', 'RailTransportAndPipelines':'WaterTransport', 'WaterTransport':'AirTransport',
       'AirTransport':'TransService', 'TransportServices':'PostServices', 'PostAndCourierServices':'ICT',
       'InformationAndCommunication':'Publishing', 'Publishing':'MusicProduction',
       'MotionPicturesSoundRecordingAndMusicProduction':'Broadcasting', 'Broadcasting':'Entertainment',
       'ArtsEntertainmentAndRecreation':'FinInsurance', 'FinanceAndInsurance':'FinInstitution',
       'FinancialInstitutions':'Insurance', 'Insurance':'RealEstate', 'RealEstate':'SciTech',
       'ProfessionalScientificAndTechnicalServices':'Adminstration',
       'AdministrativeAndSupportServicesBusinessServices':'PublicAdminstration',
       'PublicAdministration':'Education', 'Education':'HealthService', 'HumanHealthAndSocialServices':'OtherService',
       'OtherServices':'GDP2010', 'GDP at 2010 Constant Basic Prices':'Nettaxs',
       'NetTaxesOnProducts':'GDP20102', 'GDP at 2010 Constant Market Prices':'NILL'},axis = 1,inplace =True)
gdp.head()

,Year,Period,Agriculture,CropProduction,Livestock,Forestry,Fishing,Industry,MininingQua,CrudeOil,...,SciTech,Adminstration,PublicAdminstration,Education,HealthService,OtherService,GDP2010,Nettaxs,GDP20102,NILL
0,1981,Annual,2364.37,1854.76,341.41,77.90,90.30,11753.40,5044.55,4977.42,...,421.38,3.23,807.08,242.56,113.46,133.53,19549.56,198.97,19748.53,NaN
1,1982,Annual,2425.96,1897.08,361.12,73.91,93.86,10189.10,4507.93,4453.09,...,423.67,3.25,825.92,248.22,117.88,134.60,18219.27,185.70,18404.96,NaN
2,1983,Annual,2409.08,1842.70,393.13,75.28,97.96,8255.76,4096.99,4052.98,...,481.17,3.69,844.77,253.88,118.27,126.60,16228.81,165.58,16394.39,NaN
3,1984,Annual,2303.51,1759.12,399.69,76.69,68.01,8392.25,4602.27,4559.20,...,518.36,3.98,863.61,259.55,117.82,103.73,16048.31,163.18,16211.49,NaN
4,1985,Annual,2731.06,2180.91,428.10,78.08,43.97,8768.30,4962.81,4918.27,...,602.46,4.62,882.46,265.21,120.43,99.41,16997.52,172.56,17170.08,NaN

In [16]:
gdp.drop('NILL',axis=1,inplace=True)
gdp.head()

,Year,Period,Agriculture,CropProduction,Livestock,Forestry,Fishing,Industry,MininingQua,CrudeOil,...,RealEstate,SciTech,Adminstration,PublicAdminstration,Education,HealthService,OtherService,GDP2010,Nettaxs,GDP20102
0,1981,Annual,2364.37,1854.76,341.41,77.90,90.30,11753.40,5044.55,4977.42,...,1063.96,421.38,3.23,807.08,242.56,113.46,133.53,19549.56,198.97,19748.53
1,1982,Annual,2425.96,1897.08,361.12,73.91,93.86,10189.10,4507.93,4453.09,...,1074.05,423.67,3.25,825.92,248.22,117.88,134.60,18219.27,185.70,18404.96
2,1983,Annual,2409.08,1842.70,393.13,75.28,97.96,8255.76,4096.99,4052.98,...,1086.70,481.17,3.69,844.77,253.88,118.27,126.60,16228.81,165.58,16394.39
3,1984,Annual,2303.51,1759.12,399.69,76.69,68.01,8392.25,4602.27,4559.20,...,1086.93,518.36,3.98,863.61,259.55,117.82,103.73,16048.31,163.18,16211.49
4,1985,Annual,2731.06,2180.91,428.10,78.08,43.97,8768.30,4962.81,4918.27,...,1091.38,602.46,4.62,882.46,265.21,120.43,99.41,16997.52,172.56,17170.08

In [17]:
gdp.isnull().sum()

Year                   0
Period                 0
Agriculture            0
CropProduction         0
Livestock              0
Forestry               0
Fishing                0
Industry               0
MininingQua            0
CrudeOil               0
CoalMining             0
MetalOres              0
Minerals               0
Manufacturing          0
OilRefining            0
Cement                 0
FoodBev                0
Textile                0
WoodProduct            0
PaperProduct           0
PhamaProduct           0
NonMetalPrd            0
PlasticProduct         0
EEE                    0
IronSteel              0
VehiclesASS            0
OtherManu              0
Gasstem                0
Watersupply            0
Construction           0
Services               0
Trade                  0
Accommodation          0
Transport              0
RoadTransport          0
Rail                   0
WaterTransport         0
AirTransport           0
TransService           0
PostServices           0
ICT                    0
Publishing             0
MusicProduction        0
Broadcasting           0
Entertainment          0
FinInsurance           0
FinInstitution         0
Insurance              0
RealEstate             0
SciTech                0
Adminstration          0
PublicAdminstration    0
Education              0
HealthService          0
OtherService           0
GDP2010                0
Nettaxs                0
GDP20102               0
dtype: int64

In [18]:
rate = pd.read_csv('exchange17092022.csv')
rate.head()

,Rate Date,Currency,Rate Year,Rate Month,Buying Rate,Central Rate,Selling Rate
9/15/2022,US DOLLAR,2022,September,428.3800,428.8800,429.3800,NaN
9/15/2022,POUNDS STERLING,2022,September,492.2515,492.8260,493.4006,NaN
9/15/2022,EURO,2022,September,427.8231,428.3225,428.8218,NaN
9/15/2022,SWISS FRANC,2022,September,446.8809,447.4025,447.9241,NaN
9/15/2022,YEN,2022,September,2.9838,2.9873,2.9907,NaN

In [19]:
rate.reset_index(inplace=True)

In [20]:
rate.columns

Index(['index', 'Rate Date', 'Currency', 'Rate Year', 'Rate Month',
       'Buying Rate', 'Central Rate', 'Selling Rate'],
      dtype='object')

In [21]:
rate.rename({'index':'Rate Date', 'Rate Date':'Currency', 'Currency':'Rate Year', 'Rate Year':'Rate Month', 'Rate Month':'Buying Rat','Buying Rate':'Central Rate', 'Central Rate':'Selling Rate', 'Selling Rate':'NILL'},axis=1,inplace=True)
rate.head()

,Rate Date,Currency,Rate Year,Rate Month,Buying Rat,Central Rate,Selling Rate,NILL
0,9/15/2022,US DOLLAR,2022,September,428.3800,428.8800,429.3800,NaN
1,9/15/2022,POUNDS STERLING,2022,September,492.2515,492.8260,493.4006,NaN
2,9/15/2022,EURO,2022,September,427.8231,428.3225,428.8218,NaN
3,9/15/2022,SWISS FRANC,2022,September,446.8809,447.4025,447.9241,NaN
4,9/15/2022,YEN,2022,September,2.9838,2.9873,2.9907,NaN

In [22]:
rate.drop('NILL',axis =1,inplace=True)

In [24]:
rate['Currency'].duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
50182     True
50183     True
50184     True
50185     True
50186     True
Name: Currency, Length: 50187, dtype: bool

In [25]:
rate['Currency'].unique()

array(['US DOLLAR', 'POUNDS STERLING', 'EURO', 'SWISS FRANC', 'YEN',
       'CFA', 'WAUA', 'YUAN/RENMINBI', 'RIYAL', 'SOUTH AFRICAN RAND',
       'DANISH KRONA', 'SDR', 'POUND STERLING', 'DANISH KRONER',
       'JAPANESE YEN', 'US DOLLAR ', 'YEN ', 'CFA ', 'WAUA ', 'SDR ',
       'EURO\t', 'EURO ', 'RIYAL ', 'SWISS FRANC\t', 'SDR\t', 'NAIRA',
       'POESO'], dtype=object)