# DATA CONVERSION

In [1]:
num1 = 5

In [2]:
num2 = int(12.6)
print(num2)

12

In [3]:
# float can be converted to int

In [4]:
num3 = float(45)
print(num3)

45.0

In [5]:
# int can be converted to float

In [6]:
print(str(num3))

45.0

In [7]:
print(str(num2))

12

In [11]:
word = int('python')
print(word)

ValueError: invalid literal for int() with base 10: 'python'

In [10]:
number = int('65')
print(number)

65

In [14]:
name = input('Please provide your name')

Please provide your nameSam

In [15]:
print(name)

Sam

In [19]:
Age = float(input('Please enter your age:'))

Please enter your age:15

# ARITHIMETIC OPRERATORS
# +
# -
# *
# /
# %
# //
# **

In [21]:
num1 = int(input('Enter First Number'))
num2 = int(input('Enter Second Number'))
print(f'{num1} + {num2} = {num1 + num2}')
print(f'{num1} - {num2} = {num1 - num2}')
print(f'{num1} * {num2} = {num1 * num2}')
print(f'{num1} / {num2} = {num1 / num2}')
print(f'{num1} % {num2} = {num1 % num2}')
print(f'{num1} // {num2} = {num1 // num2}')
print(f'{num1} ** {num2} = {num1 ** num2}')

Enter First Number40
Enter Second Number20
40 + 20 = 60
40 - 20 = 20
40 * 20 = 800
40 / 20 = 2.0
40 % 20 = 0
40 // 20 = 2
40 ** 20 = 109951162777600000000000000000000

In [22]:
num1 = int(input('Enter First Number'))
num2 = int(input('Enter Second Number'))
print(f'{num1} > {num2} = {num1 > num2}')
print(f'{num1} < {num2} = {num1 < num2}')
print(f'{num1} >= {num2} = {num1 >= num2}')
print(f'{num1} <= {num2} = {num1 <= num2}')
print(f'{num1} == {num2} = {num1 == num2}')
print(f'{num1} != {num2} = {num1 != num2}')

Enter First Number45
Enter Second Number60
45 > 60 = False
45 < 60 = True
45 >= 60 = False
45 <= 60 = True
45 == 60 = False
45 != 60 = True

In [25]:
num1 = int(input('Enter First Number'))
num2 = int(input('Enter Second Number'))
print(num1 > num2 and num2 == num1)
print(num1 > num2 or num2 == num1)
print(not num1)

Enter First Number52
Enter Second Number20
False
True
False