In [2]:
def greet():
    return 'Welcome to python class'

In [3]:
greet()

'Welcome to python class'

In [4]:
greet()

'Welcome to python class'

In [6]:
def greet2(name):
    return f'Welcome to python class {name}'
greet2('Ade')

'Welcome to python class Ade'

In [7]:
greet2('Sam')

'Welcome to python class Sam'

In [8]:
greet2(input('Please enter your name:'))

Please enter your name:Samson

'Welcome to python class Samson'

 Ask user to enter age, sex ( M or F ), marital status ( Y or N ) and then using following rules print their place of service.

if employee is female, then she will work only in urban areas.

 

if employee is a male and age is in between 20 to 40 then he may work in anywhere

 

if employee is male and age is in between 40 t0 60 then he will work in urban areas only.

 

And any other input of age should print "ERROR".

In [11]:
def posting(age,gender,maritalS):
    if gender == 'F':
        return 'Employee will work only in the urban area'
    elif gender == 'M' and age >=20 and age <40:
        return 'Employee can work anywhere'
    elif gender =='M' and age >= 40 and age <= 60:
        return 'Employee will only work in the urban area'
    else:
        print('ERROR')
posting(45,'M','Y')

'Employee will only work in the urban area'

In [12]:
posting(25,'F','N')

'Employee will work only in the urban area'

In [14]:
def posting(age,gender,maritalS = 'S'):
    if gender == 'F':
        return 'Employee will work only in the urban area'
    elif gender == 'M' and age >=20 and age <40:
        return 'Employee can work anywhere'
    elif gender =='M' and age >= 40 and age <= 60:
        return 'Employee will only work in the urban area'
    else:
        print('ERROR')
posting(45,'M','M')

'Employee will only work in the urban area'

# VARIABLE LENGHT FUNCTION

In [15]:
def average(*num):
    print(type(num))
    avg = sum(num)/len(num)
    print(f'The average of {num} is {avg}')
average(78,54,65,89,65,78,45,12,36,85,47)

<class 'tuple'>
The average of (78, 54, 65, 89, 65, 78, 45, 12, 36, 85, 47) is 59.45454545454545

In [16]:
numbers = [45,89,87,45,65]
average(*numbers)

<class 'tuple'>
The average of (45, 89, 87, 45, 65) is 66.2

In [19]:
def details(**records):
    print(type(records))
    for key, value in records.items():
        print(key, '::', value)
details(Name = 'Ade',Gender = 'Male',Age = 35)

<class 'dict'>
Name :: Ade
Gender :: Male
Age :: 35

In [20]:
final = {
    'School':'Ade college',
    'year':2002,
    'Chairman':'Mr bode lawal'
}
details(**final)

<class 'dict'>
School :: Ade college
year :: 2002
Chairman :: Mr bode lawal